* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

main > div {
  width: 40vw;
}

img {
  width: 25vw;
}

main > div {
  margin-right: 10vw;
}

h1,
h2,
p {
  margin: 10px 0;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

p {
  font-size: small;
}

p.small {
  font-size: x-small;
}

.important {
  background-color: lightblue;
  border-radius: 2px;
  padding: 2px;
}
